# ParadigmCore template environment file (updated 12/20/18)

# [general]

# node type (currently accepts "full" or "validator")
NODE_TYPE=

# network environment ('development' for 1 node, or 'production' for >1 nodes)
NODE_ENV=

# web3 provider URL (must be a websocket provider)
WEB3_PROVIDER=

# log level (0 = all logs, 1 = events, 2 = warnings/errors only, 3 = errors only)
LOG_LEVEL=

# [network]

# post/stream (http/ws) api server configurations
API_PORT=
WS_PORT=

# http server rate limiting configuration (not enforced in state)
WINDOW_MS=
WINDOW_MAX=

# tendermint abci configuration
ABCI_HOST=
ABCI_RPC_PORT=

# tendermint abci server configuration
ABCI_PORT=

# [consensus]

# poster-staking contract address
STAKE_CONTRACT_ADDR=

# initial staking/rebalance period configuration
PERIOD_LENGTH=
PERIOD_LIMIT=

# initial finality gadget parameters
FINALITY_THRESHOLD=

# maximum order size (bytes)
MAX_ORDER_SIZE=

# [validators]

# encoding for validator signatures (usually 'hex')
SIG_ENC=

# NODE_ID, PRIV_KEY, and PUB_KEY will be appended here, along with TM_HOME
