# ParadigmCore template environment file (updated 12/20/18)

# [general]

# node type (currently accepts "full" or "validator")
NODE_TYPE=""

# network environment ('development' for 1 node, or 'production' for >1 nodes)
NODE_ENV=""

# web3 provider URL (must be a websocket provider)
# use a ropsten provider if you use the included stake contract
WEB3_PROVIDER=

# log level (0 = all logs, 1 = events, 2 = warnings/errors only, 3 = errors only)
LOG_LEVEL=0

# [network]

# seed nodes - required for production network (format: "{node_id}@{ip/url}:{port}[, ...]")
SEEDS=""

# post/stream (http/ws) api server configurations
API_PORT=4243
WS_PORT=4242

# http server rate limiting configuration (not enforced in state)
WINDOW_MS=1000
WINDOW_MAX=5

# tendermint abci configuration
ABCI_HOST="localhost"
ABCI_RPC_PORT=26657

# tendermint abci server configuration
ABCI_PORT=26658

# [consensus]

# poster-staking contract address (populated with Paradigm Ropsten contract)
STAKE_CONTRACT_ADDR="0xd93480d0066916ef3fa965acc2eec83477786589"

# initial staking/rebalance period configuration
PERIOD_LENGTH=4
PERIOD_LIMIT=75000

# initial finality gadget parameters
FINALITY_THRESHOLD=1

# maximum order size (bytes)
MAX_ORDER_SIZE=100000

# [validators]

# encoding for validator signatures (usually 'hex')
SIG_ENC="hex"

# NODE_ID, PRIV_KEY, and PUB_KEY will be appended here, along with TM_HOME
