# [general]

# node type (currently accepts "full" or "validator")
NODE_TYPE=

# network environment ('development' for 1 node, or 'production' for >1 nodes)
NODE_ENV="development"

# web3 provider URL (must be a websocket provider)
WEB3_PROVIDER="wss://ropsten.infura.io/ws"

# log level (0 = all logs, 1 = events, 2 = warnings/errors only, 3 = errors only)
LOG_LEVEL=0

# [network]

# post/stream (http/ws) api server configurations
API_PORT=4243
WS_PORT=4242

# http server rate limiting configuration
WINDOW_MS=1000
WINDOW_MAX=5

# tendermint abci configuration
ABCI_HOST="localhost"
ABCI_RPC_PORT=26657

# tendermint abci server configuration
ABCI_PORT=26658

# [consensus]

# poster-staking contract address
STAKE_CONTRACT_ADDR="0xd93480d0066916ef3fa965acc2eec83477786589"

# staking/rebalance period configuration
PERIOD_LENGTH=4
PERIOD_LIMIT=10000

# finality gadget parameters
FINALITY_THRESHOLD=1
CONF_THRESHOLD=1

# maximum order size (bytes)
MAX_ORDER_SIZE=100000

# [validators]

# encoding for validator signatures (usually 'hex')
SIG_ENC="hex"

# validator private/public keys and node address (id)
PRIV_KEY="PfH9w2Xg739vR/T9PJIJ62IuVcomnkQc7GzTeKWsijZnE/N9Ti+eR/o5Q2Br//VOqgJxmh1jxuOvnCpjb/5KgA=="
PUB_KEY="ZxPzfU4vnkf6OUNga//1TqoCcZodY8bjr5wqY2/+SoA="
NODE_ID="A455ABF808CECBB8FDBA5BEB2BB0CA059B50ED48"